$header-bg-color: #222;
$header-text-color: #fff;
$aside-bg-color: #363f4f;
$aside-link-color: #fff;
$main-bg-color: #f5f5f5;
$table-header-bg-color: #363f4f;
$table-header-text-color: #fff;
$table-btn-bg-color: #e3e8f3;
$table-border-color: #9a9fa7;
$text-color: #222;
$brand-color: #f4c93f;
$btn-text-color: #222;
$input-border-color: #9a9fa7;
$input-bg-color: #fff;
$input-btn-hover-color: #fff;
$input-placeholder-color: #9a9fa7;
